<%- include("partials/header1"); -%>
<%var loggedin=false;%>
<%if(typeof user.email!="undefined"){loggedin = true;}%>
<div id="headerlogin">
  <%if(loggedin!=true){%>
    <a href="/login" id="login">Login</a>
    <a href="/signup" id="signup">Sign Up</a>
  <%}%>
  <%if(loggedin==true){%>
    <div id="headeruser">
      <div><p id="signup" onclick="userbutton()"><img src="<%=user.profile_image%>" alt="not found" height="25" width="20" loading="lazy"><%=user.username+" "%><i class="arrow down"></i></p></div>
      <div><p id="userinfo" onclick="myaccount()">My Account</p></div>
      <div><p id="signout" onclick="signout()">Sign Out</p></div>
    </div>
  <%}%>
</div>
<%- include("partials/extra1"); -%>
<main class="mains">
    <div class="leftmain">
        <div style="text-align: center;">
            <h2>Top Rated Movies of all time</h2>
        </div>
        <div class="table" >
            <%var ta=tmovie.page%> 
            <div class="tablerows" style="display: grid;grid-template-columns: 0.5fr 2fr 3fr 2fr 0.5fr;">
                <div class="tr">Rank</div>
                <div class="tr">Movie Image</div>
                <div class="tr">Movie Name</div>
                <div class="tr">Original Release</div>
                <div class="tr">Score</div>
            </div>
            <%tmovie.results.forEach(async (item,i)=>{%>
                <div class="airing1" style="text-align: center;">
                    <div class="number"><p><%=(i+1+(20*(ta-1)))%></p></div>
                    <%if(typeof tmovie=='undefined'){%>
                        <div class="imageair"><img src="https://www.planetf1.com/content/themes/planet/img/no_image.jpg" alt="" height="150px" width="150px"></div><%}%>
                      <%if(typeof tmovie!='undefined'){%>
                      <div class="imageair"><img src="https://image.tmdb.org/t/p/w500<%=item.poster_path%>" alt="" height="150px" width="150px"></div><%}%>
                    <div class="airname"><a href="/binger/movie/<%=item.id%>" style="text-decoration:none;"><%=item.title%></a></div>
                    <div class="airname"><%=item.release_date%></div>
                    <div class="ratinganime"><%=item.vote_average%></div>
                </div>
            <%})%>
        </div>
        <div style="margin-left : 400px;">
            <div class="pagecount">
                <a href="/binger/top/movie/1" class="num">1</a>
                <a href="/binger/top/movie/2" class="num">2</a>
                <a href="/binger/top/movie/3" class="num">3</a>
                <a href="/binger/top/movie/4" class="num">4</a>
            </div>
        </div>
    </div>
<div class="rightmain">
    <h5 class="topairing">Trending Movies Worldwide</h5>
    <div class="airinganime">
    <% jsontopmoviesw.forEach(async (item,i)=>{%>
        <div class="airing">
            <div class="number"><%=(i+1)%></div>
            <%if(typeof jsontopmoviesw=='undefined'){%>
              <div class="imageair"><img src="https://www.planetf1.com/content/themes/planet/img/no_image.jpg" alt=""></div><%}%>
            <%if(typeof jsontopmoviesw!='undefined'){%>
            <div class="imageair"><img src="https://image.tmdb.org/t/p/w500<%=item.poster_path%>" alt=""></div><%}%>
            <div class="airname"><a href="/binger/movie/<%=item.id%>"><%=item.original_title%></a></div>
        </div>
        <%})%>
        <h5 class="topairing">Trending Series Worldwide</h5>
        <div class="airinganime">
        <%for(i=0;i<5;i++){%>
        <div class="airing">
            <div class="number"><%=(i+1)%></div>
            <div class="imageair"><img src="https://image.tmdb.org/t/p/w500<%=jsontopseriesw[i].poster_path%>" alt=""></div>
            <div class="airname"><a href="/binger/series/<%=jsontopseriesw[i].id%>"><%=jsontopseriesw[i].original_name%></a></div>
        </div>
      <%}%>
    </div>
</div>
</div>


</main>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="scripts/animehome.js"></script>
<script type="text/javascript">
    var n=<%-num%>;
    $(".num").eq(n-1).css("background-color","#2e51a2");
    $(".num").eq(n-1).css("color","white");
</script>
</html>
